[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "freetype"]
	path = freetype
	url = git://git.sv.gnu.org/freetype/freetype2.git
